@using ProjectHTU.DTO
@using ProjectHTU.Entities;
@model UpdateStudentDTO


<body class="container" style="margin-top:100px">

    <form action="/Student/Update">
        <h2> Edit student </h2>
        <hr />
        <input name="Id" style="display:none" value="@ViewBag.students.Id " class="form-control" autocomplete="username" aria-required="true" />

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="firstName">First Name</label>
                <input type="text" class="form-control" asp-for="firstName" value="@ViewBag.students.firstName " placeholder="First Name ">
                <span asp-validation-for="firstName" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="secondName">Second Name</label>
                <input type="text" class="form-control" asp-for="secondName" value="@ViewBag.students.secondName " placeholder="Second Name ">
                <span asp-validation-for="secondName" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="thiredName">Third Name</label>
                <input type="text" class="form-control" asp-for="thiredName" value="@ViewBag.students.thiredName " placeholder="Third Name ">
                <span asp-validation-for="thiredName" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="lastName">Last Name</label>
                <input type="text" class="form-control" asp-for="lastName" value="@ViewBag.students.lastName " placeholder="Last Name ">
                <span asp-validation-for="lastName" class="text-danger"></span>
            </div>

            <div class="form-group col-md-12">
                <label asp-for="Email">Email</label>
                <input type="text" class="form-control" asp-for="Email" value="@ViewBag.students.Email " placeholder="Email ">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="major">Major</label>
                    <select asp-for="major" class="form-select" aria-label="Default select example">
                        <option> select major </option>
                        <option> Computer Sience </option>
                        <option> Computer Information System </option>
                        <option> Management Information System </option>
                        <option> Computer Engineering </option>
                        <option> Artificial Intelligence </option>
                        <option> Other </option>
                        <span asp-validation-for="major" class="text-danger"></span>
                    </select>
                </div>
            </div>
        </div>
        <button id="registerSubmit" type="submit" class=" btn btn-lg btn-success"> Submit </button>
    </form>
</body>